{'primaryLdapServer': ['$primaryLdapServer'], 'secondaryLdapServer': ['$secondaryLdapServer'], 'userSearchStartDN': ['$userSearchStartDN'], 'userBindDN': '$userBindDN', 'userProfileRetrievalAttribute': 'uid', 'userSearchAttributes': ['uid'], 'searchScope': 'SUBTREE', 'openam-auth-ldap-connection-mode': '$connectionMode', 'returnUserDN': False, 'profileAttributeMappings': [], 'minimumPasswordLength': '8', 'beheraPasswordPolicySupportEnabled': True, 'trustAllServerCertificates': False, 'connectionHeartbeatInterval': 10, 'connectionHeartbeatTimeUnit': 'SECONDS', 'operationTimeout': 0, 'authenticationLevel': 0}
